In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API keyy

from config import g_key

In [4]:
# Store csv created in part one into a DataFrame
city_data_df=pd.read_csv("Analysis/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2021-10-22 00:57:31,-21.3585,55.7679,71.19,77,1,8.16
1,1,Kurtalan,TR,2021-10-22 00:57:32,37.9272,41.7028,44.82,34,0,3.11
2,2,Albany,US,2021-10-22 00:57:04,42.6001,-73.9662,62.31,75,6,4.16
3,3,Payo,ID,2021-10-22 00:57:32,-3.7508,103.6372,76.98,89,100,0.36
4,4,Alice Springs,AU,2021-10-22 00:57:33,-23.7000,133.8833,87.35,16,0,13.80
5,5,Barrow,US,2021-10-22 00:57:33,71.2906,-156.7887,28.42,93,90,4.61
6,6,Ilo,PE,2021-10-22 00:57:33,-17.6394,-71.3375,60.82,83,39,4.29
7,7,Kaitangata,NZ,2021-10-22 00:57:34,-46.2817,169.8464,60.10,55,0,8.90
8,8,Bellavista,PE,2021-10-22 00:57:34,-7.0561,-76.5911,83.48,86,100,1.74
9,9,Yulara,AU,2021-10-22 00:57:34,-25.2406,130.9889,85.84,16,0,9.22

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, 
                                point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&(city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Payo,ID,2021-10-22 00:57:32,-3.7508,103.6372,76.98,89,100,0.36
4,4,Alice Springs,AU,2021-10-22 00:57:33,-23.7000,133.8833,87.35,16,0,13.80
8,8,Bellavista,PE,2021-10-22 00:57:34,-7.0561,-76.5911,83.48,86,100,1.74
9,9,Yulara,AU,2021-10-22 00:57:34,-25.2406,130.9889,85.84,16,0,9.22
10,10,Atuona,PF,2021-10-22 00:57:35,-9.8000,-139.0333,77.88,77,17,18.05
14,14,Merauke,ID,2021-10-22 00:57:36,-8.4667,140.3333,85.86,64,21,6.73
19,19,Hilo,US,2021-10-22 00:53:27,19.7297,-155.0900,82.27,69,3,4.00
21,21,Mana,GF,2021-10-22 00:57:38,5.6592,-53.7767,79.34,87,100,9.57
22,22,Acapulco,MX,2021-10-22 00:57:38,16.8634,-99.8901,80.28,82,100,1.74
25,25,Robertsport,LR,2021-10-22 00:57:39,6.7533,-11.3686,79.05,82,100,6.11

In [13]:
#Check for null values
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3            Payo      ID     76.98  -3.7508  103.6372
4   Alice Springs      AU     87.35 -23.7000  133.8833
8      Bellavista      PE     83.48  -7.0561  -76.5911
9          Yulara      AU     85.84 -25.2406  130.9889
10         Atuona      PF     77.88  -9.8000 -139.0333
14        Merauke      ID     85.86  -8.4667  140.3333
19           Hilo      US     82.27  19.7297 -155.0900
21           Mana      GF     79.34   5.6592  -53.7767
22       Acapulco      MX     80.28  16.8634  -99.8901
25    Robertsport      LR     79.05   6.7533  -11.3686

In [15]:
#Set Paramaters
params={
    "radius":5000,
    "type":"lodging",
    "key":g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
        
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Payo,ID,76.98,-3.7508,103.6372,Mess keban agung
4,Alice Springs,AU,87.35,-23.7000,133.8833,Desert Palms Alice Springs
8,Bellavista,PE,83.48,-7.0561,-76.5911,Hospedaje Bella Durmiente
9,Yulara,AU,85.84,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
10,Atuona,PF,77.88,-9.8000,-139.0333,Villa Enata
14,Merauke,ID,85.86,-8.4667,140.3333,
19,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Mana,GF,79.34,5.6592,-53.7767,LE SAMANA
22,Acapulco,MX,80.28,16.8634,-99.8901,HS Hotsson Smart Acapulco
25,Robertsport,LR,79.05,6.7533,-11.3686,Kwepunha Retreat

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Payo,ID,76.98,-3.7508,103.6372,Mess keban agung
4,Alice Springs,AU,87.35,-23.7000,133.8833,Desert Palms Alice Springs
8,Bellavista,PE,83.48,-7.0561,-76.5911,Hospedaje Bella Durmiente
9,Yulara,AU,85.84,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
10,Atuona,PF,77.88,-9.8000,-139.0333,Villa Enata
14,Merauke,ID,85.86,-8.4667,140.3333,
19,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Mana,GF,79.34,5.6592,-53.7767,LE SAMANA
22,Acapulco,MX,80.28,16.8634,-99.8901,HS Hotsson Smart Acapulco
25,Robertsport,LR,79.05,6.7533,-11.3686,Kwepunha Retreat

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, 
                                point_radius=4)
# Add the heatmap layer
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))